#food-testimonial{
    width: 100%;
    height: 500px;
    background-image: url(../img/testimonial.png);
    background-size: cover;
    
}
.testimonial{
    width: 800px;
    background-color: rgba($white, 0.8);
    padding: 70px 30px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 0 0 10px 3px rgba(#000,0.3 );
    .testimonial-text{
        color: #444;
        line-height: 40px;
    }
    .testimonial-user{
        color: $primary-color;
        margin-top: 40px;
    }
}
