.line-space{
    line-height: 40px;
}
.mb-auto{
    margin-bottom: auto;
}
.margin-both{margin:30px 0;}
.margin-button{margin-bottom: 20px;}
.color-secondry{color: #555;}
.text-center{
    text-align: center;
}
.rounded{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}